<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>映画一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>
	</h1>

	<h2>映画検索</h2>
	<form th:action="@{/movie-search}" method="POST" th:object="${movieSearchForm}">
		【映画名】（部分一致）<br>
		<input type="text" th:field="*{movieName}"><br>
		<br>
		<input type="submit" value="検索" class="btn">
	</form>
	
	<form th:action="@{/main-menu}" method="GET">
		<input type="submit" value="メインメニュー" class="btn">
	</form>

	<div th:if="${movieList} != null">
		<h2>映画一覧</h2>

		<table class="movie-list">
			<tr>
				<th>映画ID</th>
				<th>映画名</th>
				<th>監督</th>
				<th>主演</th>
			</tr>

			<tr th:each="movie : ${movieList}">
				<td th:text="${movie.movieId}"></td>
				<td th:text="${movie.movieTitle}"></td>
				<td th:text="${movie.movieGenre}"></td>
				<td th:text="${movie.movieDirector}"></td>


			</tr>

		</table>

	</div>



</body>

</html>