<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<h2>登録</h2>

    <form th:action="@{/regist-review}" method="POST" 
    		th:object="${reviewRegistForm}">
		【映画ID】<br>
		<input type="text" th:field="*{movieId}"><br>
    	<div th:if="${#fields.hasErrors('movieId')}" th:errors="*{movieId}" class="error-msg"></div>
		<br>
    	【利用者ID】<br>
    	<input type="text" th:field="*{userId}"><br>
    	<div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="error-msg"></div>
		<br>
    	【閲覧日】<br>
    	<input type="date" th:field="*{visitDate}"><br>
    	<div th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}" class="error-msg"></div>
		<br>
    	【評価】(1-5)<br>
		<input type="text" th:field="*{rating}"><br>
    	<div th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="error-msg"></div>
		<br>
    	【一言コメント】<br>
    	<input type="text" th:field="*{comment}" class="comment" ><br>
    	<div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="error-msg"></div>
		<br>
    	<input type="submit" value="登録" class="btn">
    </form>
	
	<form th:action="@{/main-menu}" method="GET">
			<input type="submit" value="メインメニュー" class="btn">
		</form>

</body>
</html>
